@media screen and (max-width: 1024px) {
    header {
        padding: 38px 0;

        > .container {
            gap: 0;
        }

        &::before{
            content:"";
            position: absolute;
            left: 0;
            top: 0;
            height: 98px;
            width: 100%;
            background-color: #121517;
            z-index: 1;
        }
    }

    .header-logo{
        max-width: 114px;
        z-index: 1;
    }

    .container{
        padding: 0 25px;
    }

    .menu__list{
        flex-direction: column;
        gap: 48px;
    }

    .mobile-container{
        position: absolute;
        left: 0;
        top: 0px;
        background: #0B0C0Dd1;
        width: 100%;
        padding: 25px 25px 75px;
        background-image: linear-gradient(245deg, rgba(35, 114, 73, 0.32) 0%, rgba(53, 198, 107, 0.73) 51.85%);
        backdrop-filter: blur(3px);
        transition: .5s;
        visibility: hidden;
        transform: translate(0, -100%);

        &.show{
            top: 98px;
            transform: translate(0, 0);
            visibility: visible;
        }
    }

    .btn.btn-outline{
        width: 52px;
        height: 52px;
        border-radius: 18px;
    }

    .btn.btn-outline svg{
        height: 22px;
    }

    .footer{
       padding: 37px 0 16px;

        &__logo{
            max-width: 135px;
        }

        &-nav{
            max-width: 100%;
            order: 1;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 28px;
            padding-top: 38px;

            &__column{
                padding: 0;
            }

            &__title,
            &__link{
                font-size: 15px;
            }
        }
        
        &-row{
            flex-wrap: wrap;
            margin-bottom: 27px;
            .btn{
                margin-left: auto;
            }
        }

        .btn{
            margin-top: -17px;
        }

        &-phones{
            &__item {
                font-size: 16px;
            }
        }

        &-social{
            &__item{
                width: 35px;
                height: 35px;
            }
        }
    }

    

    
}


