.footer{
    margin-top: auto;
    background-color: $bg-accent-color;
    padding: 44px 0;
    overflow: hidden;

    &-row{
        display: flex;
        align-items: flex-start;
        margin-bottom: 110px;
    }

    .container{
        position: relative;
        z-index: 1;
    }

    &__logo{
        position: relative;
        &:before{
            @include footer-light;
            background-image: url("/dev/assets/img/decorate__footer-md.png");
            width: 371px;
            height: 260px;
            transform: translate(-50%,-50%);
        }
    }

    &-nav{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 784px;
        padding-top: 4px;
        width: 100%;
        position: relative;
        
        &__column{
            padding: 0 12px;
        }

        &__title{
            color: #BBB3B3;
            margin-bottom: 13px;
            font-size: 20px;
            font-weight: 400;
        }

        &__list{
            margin-bottom: 12px;
            &:last-child{
                margin-bottom: 0;
            }
        }

        &__link{
            font-size: 20px;
            font-weight: 400;
            color: #575454;
            text-decoration: none;
        }

        &:before{
            @include footer-light;
            background-image: url("/dev/assets/img/decorate__footer-lg.png");
            width: 1250px;
            height: 906px;
        }
    }

    &-contacts{
        display: flex;
        align-items: center;
    }

    &-social{
        margin-left: auto;
        &__item{
            position: relative;
            display: inline-block;
            &:before{
                position: absolute;
                content: "";
                left: -75px;
                top: -40px;
                background: center/contain no-repeat;
                background-image: url("/dev/assets/img/decorate__footer-sm.png");
                width: 168px;
                height: 153px;
            }
        }
    }

    &-phones{
        display: flex;
        gap: 24px;
        &__item{
            font-size: 26px;
            font-weight: 600;
            color: $secondary-color;
            text-decoration: none;
            position: relative;
            &:before{
                @include footer-light;
                background-image: url("/dev/assets/img/decorate__footer-md.png");
                width: 371px;
                height: 260px;
            }
        }
    }
}



 