*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: $font-primary;
    font-size: $font-size;
    background-color: $bg-color;
    color: $text;
    scroll-behavior: smooth;
}

body{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

h1,h2,h3,h4,h5,h6{
   font-size: 600;
   margin-bottom: .5em;
   color: $title-color;
}

h1{
    font-size: 5rem;
    line-height: 1.1;
}

h2{
    font-size: 3.875rem;
    line-height: 1.1;
}

h3{
    font-size: 2rem;
    line-height: 1.32;
}

h4{
   font-size: 1.625rem;
   line-height: 1.23;
}

h5{
   font-size: 1.5rem;
   line-height: 1.46;
}

h6{
   font-size: 1.25rem;
   line-height: 1.62;
}

p{
    font-size: 1rem;
}

img{
   height: auto;
   max-width: 100%;
}

a{
   &:hover{
       color: $secondary-color;
   }
}

.container{
   max-width: 1278px;
   padding: 0px 12px;
   margin-left: auto;
   margin-right: auto;
}

::selection{
   color:$bg-color;
   background-color: $primary-color;
}

.btn{
   &.btn-outline{
       width: 84px;
       height: 84px;
       border: 1.5px solid $primary-color;
       border-radius: 29px;
       display: flex;
       justify-content: center;
       align-items: center;
       z-index: 1;
       padding: 0;

       svg {
           height: 37px;
       }
   }
}

.svg-sprite {
   height: 0;
}

.gradient{
   background-clip: text;
   color: transparent;
   background-image: linear-gradient(223deg, $primary-color 0%, $secondary-color 100%);
}

.btn{
   font-size: 24px;
   padding: 25px 54px;
   display: inline-block;
   border-radius: 83px;
   border: none;
   text-decoration: none;
   text-align: center;
   background: transparent;
   color: $title-color;
   transition: .3s;
   position: relative;

   &::after{
       @include template-light;
       background-image: url("../assets/img/btn-hover-primary.svg");
       width: 0;
       height: 0;
   }

   &:hover {
       color: #fff;
       &::after{
           width: 500%;
           height: 500%;
           transition: .5s;
       }
   }

   &.btn-primary{
       font-weight: 600;
       background-image: linear-gradient(210deg, $primary-color 0%, $secondary-color 100%);
   }

   &.btn-secondary{
       position: relative;
       background-color: $bg-color;

       &::before {
           content: "";
           position: absolute;
           inset: -2px;
           background-image: linear-gradient(140deg, #BBB3B3 0%, #121517 100%);
           z-index: -1;
           border-radius: 40px;
       }

       &::after {
           background-image: url("../assets/img/btn-hover-secondary.svg");
       }
   }
}
