header{
	position: relative;
	padding: 48px 0;

	> .container {
		display: flex;
		align-items: center;
		gap: 94px;
	}

	.btn-burger {
		margin-left: auto;
	}
}

.menu{
	&__list {
		display: flex;
		gap: 94px;
	}

	&__link {
		font-size: 20px;
		color: $text;
		text-decoration: none;
	}
}



.btn-burger{
	z-index: 1;
	width: 42px;
	height: 20px;
	position: relative;
	background: none;
	border: none;

	span{
		display:inline-block;
		height: 2px;
		width: 100%;
		background-image: linear-gradient(245deg, #237249 0%, #35c66b 100%);;
		background-image: linear-gradient(245deg, #237249 0%, #35c66b 100%);
		position: absolute;
		top: 0;
		left: 0;
		transition: .2s;

		&:nth-child(2){
			top:9px;
		}

		&:last-child{
			top:17px;
		}
	}

	&.active{
		span{
			top:9px;
			transform: rotate(45deg);
			&:nth-child(2){
				transform: rotate(-45deg);
			}
			&:last-child{
				opacity: 0;
			}
		}
	}
}
