<section class="banner">
    <div class="container">
        <div class="banner-content">
            <h1>New Cafe by StarBucks</h1>
            <p>Have time to buy the most harmonious drinks in the 
            <h1>New Cafe by <span class="gradient">StarBucks</span></h1>
            <p class="banner-description">Have time to buy the most harmonious drinks in the 
            new Starbucks coffee and don't forget about the discount!</p>
            <div class="banner-btn-group">
                <a href="#" class="btn btn-primary">Select a coffee</a>
                <a href="#" class="btn btn-secondary">More</a>
            </div>
            <ul class="banner-statistics">
                <li class="banner-statistic-item">
                    <div class="banner-statistic__title">9k+</div>
                    <div class="banner-statistic__description">Premium Users</div>
                </li>
                <li class="banner-statistic-item">
                    <div class="banner-statistic__title">2k+</div>
                    <div class="banner-statistic__description">Happy Customers</div>
                </li>
                <li class="banner-statistic-item">
                    <div class="banner-statistic__title">28+</div>
                    <div class="banner-statistic__description">Awards Winnings</div>
                </li>
            </ul>
        </div>
        <div class="banner-img">
            <div class="banner-discount">45%</div>
            <img src="./assets/img/first-screen__cup.png" alt="cup">
        </div>